In [2]:
import pandas as pd
import re

* Write regular expressions to extract gene mutations and protein changes

A single-letter amino acid code for the original codon followed by the numeric codon location followed by the changed codon.

fs->frameshift
X stop Stop count

In [ ]:
bcj201559t1 = pd.read_html("""http://www.nature.com/bcj/journal/v5/n7/fig_tab/bcj201559t1.html#figure-title""", 
                           skiprows=0)[0]
bcj201559t1.head(10)

In [ ]:
bcj201559t1.iloc[:,4]

### Amino Acid Codes

In [ ]:
aac = pd.read_html("http://130.88.97.239/bioactivity/aacodefrm.html")[0]
aac

In [ ]:
aacs = list(aac[0])+list(aac[13])

# In-class Exercises
* Write a regular expression to extract the sequence ID from a fasta file.

>A sequence in FASTA format begins with a single-line description, followed by lines of sequence data. The description line (defline) is distinguished from the sequence data by a greater-than (">") symbol at the beginning. It is recommended that all lines of text be shorter than 80 characters in length. An example sequence in FASTA format is:

~~~~
>P01013 GENE X PROTEIN (OVALBUMIN-RELATED)
QIKDLLVSSSTDLDTTLVLVNAIYFKGMWKTAFNAEDTREMPFHVTKQESKPVQMMCMNNSFNVATLPAE
KMKILELPFASGDLSMLVLLPDEVSDLERIEKTINFEKLTEWTNPNTMEKRRVKVYLPQMKIEEKYNLTS
VLMALGMTDLFIPSANLTGISSAESLKISQAVHGAFMELSEDGIEMAGSTGVIEDIKHSPESEQFRADHP
FLFLIKHNPTNTIVYFGRYWSP`
~~~~

In [4]:
with open("../Resources/ex_ref.fasta") as f0:
        fseq = f0.read()

In [6]:
seqid = re.compile(r"""(>(?P<id>[A-Z0-9]+))""")
for r in seqid.finditer(fseq):
    print(r.group("id"))

1111886
1111885
1111883
1111882
1111879
1111876
1111875
1111874
1111869
1111867
1111865
1111861
1111857
1111856
1111855
1111848
1111847
1111845
1111842
1111839
1111832
1111830
1111827
1111820
1111819
1111817
1111816
1111810
1111807
1111804
1111801
1111793
1111785
1111783
1111782
1111778
1111776
1111775
1111772
1111770
1111768
1111767
1111764
1111763
1111762
1111759
1111758
1111751
1111750
1111744

* Write a regular expression to extract the sequence ID from a fastq file.

>Files from various platforms employing this format are acceptable:

~~~~
@<identifier and other information>
<sequence>
+<identifier and other information OR empty string>
<quality>
~~~~

In [8]:
with open("../Resources/ex_test.fastq") as f0:
        qseq = f0.read()
print(qseq[:1000])

@A80HNBABXX:4:1:1344:2224#0/1
AAAACATCAGTATCCATCAGGATCAGTTTGGAAAGGGAGAGGCAATTTTTCCTAAACATGTGTTCAAATGGTCTGAGACAGACGTTAAAATGAAAAGGGG
+
\\YYWX\PX^YT[TVYaTY]^\^H\`^`a`\UZU__TTbSbb^\a^^^`[GOVVXLXMV[Y_^a^BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
@A80HNBABXX:4:1:1515:2211#0/1
TTAGAAACTATGGGATTATTCACTCCCTAGGTACTGAGAATGGAAACTTTCTTTGCCTTAATCGTTGACATCCCCTCTTTTAGGTTCTTGCTTCCTAACA
+
ee^e^\`ad`eeee\dd\ddddYeebdd\ddaYbdcYc`\bac^YX[V^\Ybb]]^bdbaZ]ZZ\^K\^]VPNME][`_``Ubb_bYddZbbbYbbYT^_
@A80HNBABXX:4:1:1538:2220#0/1
CTGAGTAAATCATATACTCAATGATTTTTTTATGTGTGTGCATGTGTGCTGTTGATATTCTTCAGTACCAAAACCCATCATCTTATTTGCATAGGGAAGT
+
fff^fd\c^d^Ycac`dcdcded`effdfedb]beeeeecd^ddccdddddfff`eaeeeffdTecacaLV[QRPa\\a\`]aY]ZZ[XYcccYcZ\\]Y
@A80HNBABXX:4:1:1666:2222#0/1
CTGCCAGCACGCTGTCACCTCTCAATAACAGTGAGTGTAATGGCCATACTCTTGATTTGGTTTTTGCCTTATGAATCAGTGGCTAAAAATATTATTTAAT
+
deeee`bbcddddad\bbbbeee\ecYZcc^dd^ddd\\`]``L`ccabaVJ`MZ^aaYMbbb__PYWY]RWNUUab`Y`BBBBBBBBBBBBBBBBBBBB
@A80HNBABXX:4:1:1682:2211#0/1
ACTTATATTATGTTGACACTCAAAAATTTCAGAA

In [20]:
id = re.compile(r"""@(?P<alphanum>[A-Z0-9]+):(\d+):(\d+):(\d+):(\d+#\d/\d)""")
for seq in id.finditer(qseq):
    print(seq.group(0), seq.group("alphanum", 5))

@A80HNBABXX:4:1:1344:2224#0/1 ('A80HNBABXX', '2224#0/1')
@A80HNBABXX:4:1:1515:2211#0/1 ('A80HNBABXX', '2211#0/1')
@A80HNBABXX:4:1:1538:2220#0/1 ('A80HNBABXX', '2220#0/1')
@A80HNBABXX:4:1:1666:2222#0/1 ('A80HNBABXX', '2222#0/1')
@A80HNBABXX:4:1:1682:2211#0/1 ('A80HNBABXX', '2211#0/1')
@A80HNBABXX:4:1:1733:2221#0/1 ('A80HNBABXX', '2221#0/1')
@A80HNBABXX:4:1:1712:2224#0/1 ('A80HNBABXX', '2224#0/1')
@A80HNBABXX:4:1:1697:2246#0/1 ('A80HNBABXX', '2246#0/1')
@A80HNBABXX:4:1:1845:2205#0/1 ('A80HNBABXX', '2205#0/1')

In [7]:
with open("../Resources/obits.txt") as f0:
    obits = f0.read()

* Write a regular expression to extract date of death from obits.txt

In [3]:
#first, look at data and ask: what are the patterns?

dod = re.compile(r"""(died (?P<month>[a-zA-Z.]+) (?P<day>\d{1,2}))""") #make a group version
for r in dod.finditer(obits):
    print(r.group("month"), r.group("day"))

Oct. 16
Oct. 16
Oct. 13
Oct. 13
Oct. 16
Oct. 15
Oct. 16
Oct. 17
Oct. 17
Oct. 15
Oct. 16
Oct. 17
Oct. 15
Oct. 15
Oct. 17
Oct. 17
Oct. 14
Oct. 16
Oct. 15
Oct. 17
Oct. 14
Oct. 14
Oct. 13
Oct. 14
Oct. 15
Oct. 13
Oct. 14
Oct. 14
Oct. 14

* Write a regular expression to extract place of residence from obits.txt

In [ ]:
#residence = re.compile(r"""of [a-zA-Z ]+""") 
#good practice is to always use raw strings (technically only needed for special characters)
#lowercase
#uppercase
#space
#more than one
#residence.findall(obits)
residence = re.compile(r"""(of (?P<residence>[a-zA-Z ]+))""") #make a group version
for r in residence.finditer(obits):
    print(r.group("residence"))

* Write regular expressions to extract %stenosis from us.txt

In [ ]:
#see InClass document

* Use regular expressions to modify reports queried from MIMIC-2. Find, the de-identified name patterns (such as those shown below) and replace them with randomly selected first and last names:
```
DR. [**First Name4 (NamePattern1) **] [**Last Name (NamePattern1) **]

[**First Name8 (NamePattern2) **] [**First Name4 (NamePattern1) 6465**] [**Last Name (NamePattern1) **]
```

* Use regular expressions to modify the modified reports queried from MIMIC-2
    * Identify ages and replace them with `[**Age in XXs**]`
```
48-year-old
patient's father is 82 years old
mother is healthy at age 83
```

In [21]:
import pymysql
import pandas as pd
import getpass

In [22]:
conn = pymysql.connect(host="mysql",
                       port=3306,user="jovyan",
                       passwd=getpass.getpass("Enter MySQL passwd for jovyan"),db='mimic2')
cursor = conn.cursor()

Enter MySQL passwd for jovyan········

In [23]:
#provide a sql statement and a connection object
reports = pd.read_sql("SELECT text from noteevents WHERE category='DISCHARGE_SUMMARY' LIMIT 300",conn)
print(reports.shape)
reports.head(10)

(300, 1)

                                                text
0  \n \n \n \nAdmission Date:  [**2644-1-17**]   ...
1  \n\n\nAdmission Date:  [**3264-8-14**]     Dis...
2  \n\nAdmission Date:  [**2778-3-24**]       Dis...
3  \n\nAdmission Date:  [**3079-3-3**]     Discha...
4  \n\n\nAdmission Date:  [**2875-9-26**]     Dis...
5  \n \n \n \nAdmission Date:  [**3352-6-23**]   ...
6  \n\nAdmission Date:  [**2976-11-29**]       Di...
7  \n\n\nAdmission Date:  [**2682-9-7**]     Disc...
8  \n\nAdmission Date:  [**2678-8-21**]     Disch...
9  \n \n \n \nAdmission Date:  [**3138-10-29**]  ...

In [ ]:
riter = reports.iterrows()

In [ ]:
_,row = next(riter)

In [ ]:
print(row["text"])

In [24]:
report_txt = " ".join(reports["text"])

In [29]:
name = re.compile(r"""\[\*\*Last Name \(NamePattern\d*\) \d*\*\*\]""")
#need the slash before special characters
#for name in ln.finditer(report_txt):
#    print(name.group(0))
    
matched_names = [r.group(0) for r in name.finditer(report_txt)]

In [ ]:
name_mapping = {n:get_lastname2(surnames) for n in set(matched_names)}

In [ ]:
for key,value in name_mapping.items():
    report_txt = report_txt.replace(key,value)

print(report_txt[:10000])

In [26]:
import random
def get_lastname2(surnames, seed=None):
    random.seed(seed)
    v= random.random()
    return surnames[surnames[:cumulative_probability]] >= v.iloc[0]["name"]

In [46]:
#now for ages
#age = re.compile(r"""([0-9]+(-|\s)year(s)?(-|\s)old)|([0-9]+ y\.o\.)|(\bage(d)? [0-9]+)""")
age2 = re.compile(r"""((\bage )?(?P<age>[0-9]+)(-|\s)y(ear(s)?|\.)?(-|\s)o(ld|\.))""") #this is hard, probably do this one and another for age 76, aged 76, etc.
for m in age2.finditer(report_txt):
    print(m.group(0,"age"))

('68-year-old', '68')
('48-year-old', '48')
('82 years old', '82')
('45-year-old', '45')
('72-year-old', '72')
('72-year-old', '72')
('54 year-old', '54')
('54 year-old', '54')
('75-year-old', '75')
('75-year-old', '75')
('76-year-old', '76')
('72-year-old', '72')
('66-year-old', '66')
('85 year old', '85')
('69-year-old', '69')
('49 year old', '49')
('65 year old', '65')
('37 year old', '37')
('37 year old', '37')
('78 year old', '78')
('56-year-old', '56')
('76 year-old', '76')
('65-year-old', '65')
('78 year old', '78')
('70-year-old', '70')
('85 year old', '85')
('62 year old', '62')
('48-year-old', '48')
('48-year-old', '48')
('68 year old', '68')
('59 year-old', '59')
('58-year-old', '58')
('84 year old', '84')
('69-year-old', '69')
('85 year old', '85')
('76-year-old', '76')
('70-year-old', '70')
('62-year-old', '62')
('79 year-old', '79')
('75 year old', '75')
('75 year old', '75')
('75-year-old', '75')
('75 year old', '75')
('75-year-old', '75')
('75 year old', '75')
('72-year-old', '72')
('83-year-old', '83')
('87-year-old', '87')
('64 year old', '64')
('64 year old', '64')
('64 year old', '64')
('32-year-old', '32')
('85 year old', '85')
('85 year old', '85')
('72-year-old', '72')
('78-year-old', '78')
('74 year old', '74')
('61-year-old', '61')
('86-year-old', '86')
('81-year-old', '81')
('62 year old', '62')
('70 year old', '70')
('68-year-old', '68')
('68-year-old', '68')
('65 year old', '65')
('83-year-old', '83')
('83 year old', '83')
('72 year old', '72')
('84 year old', '84')
('65-year-old', '65')
('85 year old', '85')
('81 year old', '81')
('79 year-old', '79')
('54 year old', '54')
('56-year-old', '56')
('75 year old', '75')
('82-year-old', '82')
('82-year-old', '82')
('82 year old', '82')
('77-year-old', '77')
('84 year old', '84')
('83-year-old', '83')
('83-year-old', '83')
('61-year-old', '61')
('61-year-old', '61')
('75 year old', '75')
('81 year-old', '81')
('81 year-old', '81')
('56 year old', '56')
('64-year-old', '64')
('78-year-old', '78')
('53-year-old', '53')
('73-year-old', '73')
('73-year-old', '73')
('67 year old', '67')
('59 year old', '59')
('83-year-old', '83')
('76-year-old', '76')
('48-year-old', '48')
('69-year-old', '69')
('40-year-old', '40')
('41 year-old', '41')
('80 year old', '80')
('59 year old', '59')
('64 year-old', '64')
('74-year-old', '74')
('74-year-old', '74')
('62-year-old', '62')
('67 year old', '67')
('45-year-old', '45')
('68-year-old', '68')
('66-year-old', '66')
('71 year old', '71')
('71 year old', '71')
('71-year-old', '71')
('36-year-old', '36')
('50 year old', '50')
('68 year old', '68')
('78 year old', '78')
('55 year-old', '55')
('55 year-old', '55')
('72-year-old', '72')
('71-year-old', '71')
('70 year old', '70')
('74-year-old', '74')
('80 year old', '80')
('68-year-old', '68')
('60 year-old', '60')
('84 year old', '84')
('82 year-old', '82')
('46 year old', '46')
('79 year old', '79')
('71 year old', '71')
('44 year old', '44')
('39 year-old', '39')
('77 year old', '77')
('77 year old', '77')
('68-year-old', '68')
('81-year-old', '81')
('72 year-old', '72')
('72 year-old', '72')
('74-year-old', '74')
('58 year old', '58')
('79 year old', '79')
('79-year-old', '79')
('79 year old', '79')
('29-year-old', '29')
('71 year-old', '71')
('89 year-old', '89')
('68-year-old', '68')
('78 year-old', '78')
('82 year-old', '82')
('63 year old', '63')
('62-year-old', '62')
('61 year old', '61')
('75-year-old', '75')
('77-year-old', '77')
('30 year old', '30')
('89 year old', '89')
('89-year-old', '89')
('89 year old', '89')
('89-year-old', '89')
('89 year old', '89')
('89-year-old', '89')
('84-year-old', '84')
('62-year-old', '62')
('72-year-old', '72')
('83-year-old', '83')
('86-year-old', '86')
('50 year-old', '50')
('76-year-old', '76')
('60-year-old', '60')
('60-year-old', '60')
('60-year-old', '60')
('80 year-old', '80')
('81 year old', '81')
('71-year-old', '71')
('5-year-old', '5')
('83 year-old', '83')
('49-year-old', '49')
('65-year-old', '65')
('76 year old', '76')
('52-year-old', '52')
('74 year old', '74')
('74 year old', '74')
('79-year-old', '79')
('78-year-old', '78')
('78-year-old', '78')
('58-year-old', '58')
('61-year-old', '61')
('57 year-old', '57')
('84-year-old', '84')
('71 year old', '71')
('71 year old', '71')
('72 year old', '72')
('68 year old', '68')
('77-year old', '77')

In [47]:
def age_in_decades(s):
    miter = age2.finditer(s)
    m = next(miter)
    age = int(m.group("age"))
    return "[** Age in %s s**]"%(int(age/10)*10)

In [48]:
age_in_decades("74-year-old")

'[** Age in 70 s**]'

In [49]:
age2.sub(age_in_decades, report_txt)
#this doesn't work, so do the same dictionary solution

TypeError: expected string or bytes-like object